{% extends 'layouts/base.html' %}

{% block content %}

    <h1> Welcome to Django app </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut ab laudantium quis placeat dolorem ut maiores debitis! Dolores quaerat quod asperiores, quis nesciunt, laborum corrupti amet eius odio, accusamus incidunt cum odit ducimus ipsum saepe? Recusandae assumenda impedit optio eius debitis molestiae natus aspernatur, dignissimos at fugit laborum unde numquam ex voluptatibus quasi, dolor, eligendi iste nobis adipisci quisquam dolorem. Quidem autem magni corporis. Similique sapiente impedit esse reprehenderit delectus. Voluptates commodi quisquam, cupiditate inventore amet sed laudantium at odio officia quam numquam praesentium. Quos veritatis, aliquid pariatur doloribus sint consequatur nostrum nulla aspernatur rerum, sit consectetur explicabo tempore ipsum.  </p>

{% endblock content %}